{
	"logging": {
		"sink": {
			"writer": {"output": "stdout"}
		},
		"logs": {
			"": {
				"writer": {"output": "stdout"},
				"encoder": 
                {
                    "format": "console",
                    "message_key": "",
                    "level_key": "",
                    "time_key": "",
                    "name_key": "",
                    "caller_key": "",
                    "stacktrace_key": "",
                    "line_ending": "",
                    "time_format": "",
                    "time_local": false,
                    "duration_format": "",
                    "level_format": ""
                },
				"level": "",
				"sampling": {
					"interval": 0,
					"first": 0,
					"thereafter": 0
				}
			}
		}
	},
	"storage": {"module": "file_system", "root": "/logs/"},
	"apps": {
		"http": {
		"servers": {
			"rev_proxy": {
			"listen": [":80", ":443"],
			"routes": [ {% for app in apps %}
				{
				"match": 
				[{
					"path": [{% for path in app.server_paths %}"{{ path }}"{% if not loop.last %},{% endif %}{% endfor %}]
				}],
				"handle": [
					{
					"handler": "reverse_proxy",
					"upstreams": 
					[{
						"dial": "{{ app.dial }}"
					}]
					}]
				}{% if not loop.last %},{% endif %}{% endfor %}]
			}
		}
		}
	}
}