---
# Homepage configuration
# See {{ default_scheme }}://fontawesome.com/v5/search for icons options

title: "NAS"
subtitle: "Media Server"
logo: "assets/icons/plex.png"
# icon: "fas fa-skull-crossbones" # Optional icon

stylesheet:
 - "assets/walkxcode-homer.css"

header: true
footer: '<p>Portable NAS Server</p>'

# Optional theme customization
theme: "{{ vm_vars.homer_theme |default("default") }}"
colors:
  light:
    highlight-primary: "#fff5f2"
    highlight-secondary: "#fff5f2"
    highlight-hover: "#bebebe"
    background: "#12152B"
    card-background: "rgba(255, 245, 242, 0.8)"
    text: "#ffffff"
    text-header: "#000000"
    text-title: "#000000"
    text-subtitle: "#111111"
    card-shadow: rgba(0, 0, 0, 0.5)
    link: "#3273dc"
    link-hover: "#2e4053"
    background-image: "../assets/wallpaper-light.jpg"
  dark:
    highlight-primary: "#181C3A"
    highlight-secondary: "#181C3A"
    highlight-hover: "#1F2347"
    background: "#12152B"
    card-background: "rgba(24, 28, 58, 0.8)"
    text: "#eaeaea"
    text-header: "#ffffff"
    text-title: "#fafafa"
    text-subtitle: "#8B8D9C"
    card-shadow: rgba(0, 0, 0, 0.5)
    link: "#c1c1c1"
    link-hover: "#fafafa"
    background-image: "../assets/wallpaper-dark.jpg"



# Optional navbar
# links: [] # Allows for navbar (dark mode, layout, and search) without any links
#links:
#  - name: "Contribute"
#    icon: "fab fa-github"
#    url: "{{ default_scheme }}://github.com/bastienwirtz/homer"
#    target: "_blank" # optional html a tag target attribute
#  - name: "Wiki"
#    icon: "fas fa-book"
#    url: "{{ default_scheme }}://www.wikipedia.org/"
  # this will link to a second homer page that will load config from additional-page.yml and keep default config values as in config.yml file
  # see url field and assets/additional-page.yml.dist used in this example:
 # - name: "another page!"
#    icon: "fas fa-file-alt"
#    url: "#additional-page"

# Services
# First level array represent a group.
# Leave only a "items" key if not using group (group name, icon & tagstyle are optional, section separation will not be displayed).
services:
  - name: "Media Players"
    icon: "fas fa-cloud"
    items:
      - name: "Plex"
        logo: "assets/icons/plex.png"
        subtitle: "Plex Media Server"
        tag: "app"
        keywords: "plex media movie tv"
        url: "http://{{ vm_vars.vminfo.hostname }}.local:32400/web/"
        target: "_blank" # optional html a tag target attribute
  - name: "Downloaders"
    icon: "fas fa-cloud"
    items:
      - name: "Overseerr"
        logo: "assets/icons/overseerr.png"
        subtitle: "Browse TV, Movies to download"
        tag: "app"
        keywords: "media tv series movie"
        url: "http://{{ vm_vars.vminfo.hostname }}:5055"
        target: "_blank" # optional html a tag target attribute
      - name: "Sonarr"
        logo: "assets/icons/sonarr.png"
        subtitle: "Downloads TV Series"
        tag: "app"
        type: "Sonarr"
        apikey: "{{ vm_vars.api_key }}"
        keywords: "media tv series"
        url: "/sonarr"
        target: "_blank" # optional html a tag target attribute
      - name: "Radarr"
        logo: "assets/icons/radarr.png"
        subtitle: "Downloads movies"
        tag: "app"
        keywords: "media tv series"
        url: "/radarr"
        type: "Radarr"
        apikey: "{{ vm_vars.api_key }}"
        target: "_blank" # optional html a tag target attribute
      - name: "Lidarr"
        logo: "assets/icons/lidarr.png"
        subtitle: "Downloads music albums"
        tag: "app"
        keywords: "media music mp3"
        url: "/lidarr"
        type: "Lidarr"
        apikey: "{{ vm_vars.api_key }}"
        target: "_blank" # optional html a tag target attribute
      - name: "Bazarr"
        logo: "assets/icons/bazarr.png"
        subtitle: "Downloads subtitles for TV shows, movies"
        tag: "app"
        keywords: "media tv movie subtitles"
        url: "/bazarr"
        target: "_blank" # optional html a tag target attribute
      - name: "Prowlarr"
        logo: "assets/icons/prowlarr.png"
        subtitle: "Helps find downloads for TV shows, movies"
        tag: "app"
        keywords: "media tv movie torrent"
        url: "/prowlarr"
        type: "Prowlarr"
        apikey: "{{ vm_vars.api_key }}"
        target: "_blank" # optional html a tag target attribute
      - name: "Readarr"
        logo: "assets/icons/readarr.png"
        subtitle: "Downloads books"
        tag: "app"
        keywords: "media book ebook"
        url: "/readarr"
        target: "_blank" # optional html a tag target attribute
  - name: "Torrents"
    icon: "fas fa-cloud"
    items:
      - name: "qBittorrent"
        logo: "assets/icons/qbittorrent.png"
        subtitle: "qBittorrent"
        tag: "app"
        keywords: "torrents downloads"
        url: "http://{{ vm_vars.vminfo.hostname }}:8088"
        target: "_blank" # optional html a tag target attribute