creds: {guest_pass: mynasinaboxuser, guest_user: mynasinaboxpassword}

nas: { open_subtitles_username: "myusername", open_subtitles_password: "mypassword"}

api_key: "4nnuqufdm909hthay5rnu0fq8mbix36j"

vminfo:
   hostname: nasinabox



  
