creds: {guest_pass: nasinabox, guest_user: nasinabox}

nas: { open_subtitles_username: "myusername", open_subtitles_password: "mypassword",  storage_path: "/mnt/Storage/",  nas_app_username: "nasinabox", nas_app_password: "nasinabox"}

api_key: "4nnuqufdm909hthay5rnu0fq8mbix36j"
overseerr_apikey: "MTczMDQ2MjQxMTU0ODMzNGMyY2Q0LTY2ZGEtNDYxYS1hOTA4LWIxMDk1MjFmYzVlOA=="

vminfo:
   hostname: nasinabox

tailscale_auth_key: ""

use_custom_netplan: False
zfs_drives: []