creds: {guest_pass: mynasinaboxuser, guest_user: mynasinaboxpassword}

nas: { open_subtitles_username: "myusername",
 open_subtitles_password: "mypassword",
 storage_path: "/mnt/Storage/",
 nas_app_username: "nasinabox",
 nas_app_password: "nasinabox",
 default_to_ssl: False
}

local_username: "myappusername"
local_password: "myapppassword"

ignore

#plex_username: "myplexusername"
#plex_password: "myplexpassword"

api_key: "4nnuqufdm909hthay5rnu0fq8mbix36j"

vminfo:
   hostname: nasinabox



  
